alembic==1.13.1.dev0
amqp==5.2.0
ansible==9.2.0
ansible-core==2.16.3
apache-libcloud==3.4.1
argcomplete==3.1.4
asgiref==3.7.2
attrs==23.2.0
Automat==22.10.0
autopage==0.4.0
Babel==2.10.3
bcrypt==3.2.2
beautifulsoup4==4.12.3
blinker==1.7.0
cachetools==5.3.0
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
click==8.1.6
cliff==4.6.0
cloud-init==24.4.1
cmd2==2.4.3+ds
colorama==0.4.6
command-not-found==0.3
configobj==5.0.8
configshell-fb==1.1.28
constantly==23.10.4
cryptography==41.0.7
csscompressor==0.9.5
cssselect==1.2.0
dbus-python==1.3.2
debtcollector==2.5.0
decorator==5.1.1
deprecation==2.0.7
distro==1.9.0
distro-info==1.7+build1
Django==4.2.11
django-appconf==1.0.6
django-compressor==4.0
django-debreach==2.1.0
django-pyscss==2.0.3
dnspython==2.6.1
docutils==0.20.1
dogpile.cache==1.1.8
eventlet==0.35.2
fasteners==0.18
fixtures==4.0.1
futurist==2.4.1
greenlet==3.0.3
horizon==24.0.0
html5lib==1.1
httplib2==0.20.4
hyperlink==21.0.0
idna==3.6
importlib-metadata==4.12.0
incremental==22.10.0
iso8601==1.0.2
Jinja2==3.1.2
jmespath==1.0.1
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.10.3
keystoneauth1==5.6.0
keystonemiddleware==10.6.0
kombu==5.3.5
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
libvirt-python==10.0.0
lockfile==0.12.2
logutils==0.3.5
lxml==5.2.1
Mako==1.3.2.dev0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
monotonic==1.6
more-itertools==10.2.0
msgpack==1.0.3
munch==4.0.0
mysqlclient==1.4.6
netaddr==0.8.0
netifaces==0.11.0
neutron==24.1.0
neutron-lib==3.11.0
ntlm-auth==1.5.0
oauthlib==3.2.2
olefile==0.46
openstacksdk==3.0.0
os-client-config==2.1.0
os-ken==2.8.1
os-resource-classes==1.1.0
os-service-types==1.7.0
os-traits==3.0.0
os-vif==3.5.0
osc-lib==3.0.1
osc-placement==4.3.0
oslo.cache==3.7.0
oslo.concurrency==6.0.0
oslo.config==9.4.0
oslo.context==5.5.0
oslo.db==15.0.0
oslo.i18n==6.3.0
oslo.log==5.5.1
oslo.messaging==14.6.0
oslo.metrics==0.8.0
oslo.middleware==6.1.0
oslo.policy==4.3.0
oslo.privsep==3.3.0
oslo.reports==3.3.0
oslo.rootwrap==7.1.0
oslo.serialization==5.4.0
oslo.service==3.4.1
oslo.upgradecheck==2.3.0
oslo.utils==7.1.0
oslo.versionedobjects==3.3.0
osprofiler==3.4.3
ovs==3.3.0
ovsdbapp==2.6.0
packaging==24.0
passlib==1.7.4
Paste==3.7.1
PasteDeploy==3.1.0
PasteScript==3.2.1
pbr==5.11.1
pcp==5.0
pecan==1.5.1
pillow==10.2.0
Pint==0.19.2
platformdirs==4.2.0
ply==3.11
prettytable==3.6.0
prometheus-client==0.19.0
psutil==5.9.8
pyasn1==0.4.8
pyasyncore==1.0.2
pycadf==3.1.1
pycparser==2.21
pycurl==7.45.3
Pygments==2.17.2
PyGObject==3.48.2
PyHamcrest==2.1.0
pyinotify==0.9.6
PyJWT==2.7.0
pykerberos==1.1.14
pymemcache==4.0.0
pymongo==3.11.0
PyMySQL==1.0.2
pyOpenSSL==23.2.0
pyparsing==3.1.1
pyperclip==1.8.2
pyroute2==0.7.11
pyrsistent==0.20.0
pyScss==1.4.0
pyserial==3.5
python-apt==2.7.7+ubuntu4
python-cinderclient==9.5.0
python-dateutil==2.8.2
python-designateclient==6.0.1
python-glanceclient==4.4.0
python-heatclient==3.5.0
python-keystoneclient==5.4.0
python-memcached==1.58
python-neutronclient==11.2.0
python-novaclient==18.5.0
python-openstackclient==6.6.0
python-swiftclient==4.5.0
pytz==2024.1
pyudev==0.24.0
pywinrm==0.4.3
PyYAML==6.0.1
rcssmin==1.1.0
repoze.lru==0.7
requests==2.31.0
requests-ntlm==1.1.0
requestsexceptions==1.4.0
resolvelib==1.0.1
rfc3986==2.0.0
rich==13.7.1
rjsmin==1.2.0
roman==3.3
Routes==2.5.1
selinux @ file:///build/libselinux-IVxPh3/libselinux-3.5/src
semantic-version==2.10.0
service-identity==24.1.0
setproctitle==1.3.3
setuptools==68.1.2
simplegeneric==0.8.1
simplejson==3.19.2
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==1.4.50
sqlalchemy-migrate==0.13.0
sqlparse==0.4.4
ssh-import-id==5.11
statsd==4.0.1
stevedore==5.1.0
systemd-python==235
Tempita==0.5.2
tenacity==8.2.3
testresources==2.0.1
testscenarios==0.5.0
testtools==2.7.1
tinyrpc==0.6
tooz==6.0.1
Twisted==24.3.0
typing_extensions==4.10.0
ubuntu-pro-client==8001
unattended-upgrades==0.1
unittest2==1.1.0
urllib3==2.0.7
urwid==2.6.10
vine==5.0.0
voluptuous==0.14.2
wadllib==1.3.6
warlock==2.0.1
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.7
wheel==0.42.0
wrapt==1.15.0
xmltodict==0.13.0
zipp==1.0.0
zope.interface==6.1
zstandard==0.22.0
